@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

button {
  background: transparent;
  border: none; }

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

input,
button,
textarea,
select {
  font: inherit; }

address {
  font-style: inherit; }

h1, h2 {
  font-size: 100%;
  font-weight: inherit; }

button:hover {
  opacity: 50%; }

a {
  color: inherit;
  text-decoration: none; }

.list-reset {
  list-style: none; }

.scroll-lock {
  overflow: hidden; }

body {
  font-size: 100%;
  font-family: "TT Lakes", sans-serif;
  background-color: #f8f8f8;
  color: #1B1C21; }

body:has(dialog[open]) {
  overflow: hidden; }

.modal::-webkit-backdrop {
  background-color: #ffffff;
  opacity: 0.9; }

.modal::backdrop {
  background-color: #ffffff;
  opacity: 0.9; }

.btn-more {
  visibility: hidden; }

@media (min-width: 768px) {
  .btn-more {
    visibility: inherit;
    padding-left: 24px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #1b1c21; }
    .btn-more span {
      padding-left: 4px; }
    .btn-more:before {
      content: url(./static/expand.svg);
      box-sizing: border-box;
      height: 24px; }
  .btn-more--rotate::before {
    transform: rotate(180deg); }
  .swiper-pagination {
    display: none; } }

@media (min-width: 1440px) {
  body {
    width: 1440px;
    margin: 0 auto; } }

@media (min-width: 1120px) {
  .root {
    margin-left: 320px; } }

.burger {
  width: 320px;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column; }
  .burger__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 18px 24px 0 24px; }

.btn-search {
  margin-left: auto; }

.burger-navigation {
  flex-grow: 1;
  padding-top: 30px;
  padding-left: 24px; }
  .burger-navigation__item {
    box-sizing: content-box;
    max-height: 28px;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 0; }
    .burger-navigation__item:hover {
      color: #7e7e82; }
  .burger-navigation .active {
    color: #7e7e82;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .burger-navigation .active:before {
      content: '';
      width: 4px;
      height: 32px;
      background-color: #41f6d7;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transform: translateX(-24px); }

.burger-contacts {
  padding: 32px 24px; }

.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-bottom: 16px; }

.contact-info {
  display: flex;
  flex-direction: column; }

.mail {
  font-weight: 500; }

.phone {
  font-size: 24px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 40px; }

.lang-list {
  display: flex;
  flex-direction: row; }
  .lang-list__item {
    font-size: 16px;
    font-weight: 500;
    padding-right: 7px; }
    .lang-list__item:hover {
      color: #7e7e82; }
  .lang-list .active {
    color: #7e7e82; }

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.95;
  z-index: 3; }

@media (max-width: 1119px) {
  .burger {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(-100%); }
    .burger.active {
      max-width: 360px;
      min-height: 100%;
      z-index: 4;
      opacity: 1;
      transition: transform 0.3s ease-in-out;
      transform: translateX(0);
      visibility: visible;
      overflow-y: scroll;
      overflow-x: hidden;
      box-shadow: 16px 0 52px -10px #0e185033;
      -ms-overflow-style: none;
      scrollbar-width: none; } }

@media (min-width: 1120px) {
  .burger {
    width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; }
  .burger-close {
    display: none; } }

.callback {
  background-color: #ffffff;
  padding: 24px 16px;
  border: 1px solid #D9FFF5;
  border-radius: 1px;
  transition: transform 0.3s ease-in-out;
  transform: translate(100%);
  margin-left: auto;
  min-height: 100lvh; }
  .callback__close-btn {
    margin-right: auto;
    margin-bottom: 40px; }
  .callback__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 24px; }
    .callback__title::before {
      content: '';
      background-color: #41f6d7;
      border-radius: 0 10px 10px 0;
      width: 4px;
      height: 40px;
      position: absolute;
      left: 0;
      display: inline-block; }
  .callback__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px; }
    .callback__form-phone {
      color: #b5b6bc;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      border-radius: 8px;
      border: 1px solid #EAEAEA;
      padding: 12px 16px; }
      .callback__form-phone:focus {
        border: 2px solid #FF3E79; }
  .callback__agreement {
    color: #7e7e82;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 19px; }
    .callback__agreement a {
      color: #FF3E79; }
  .callback__send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 32px;
    background: #FF3E79;
    border-radius: 16px;
    margin-left: auto; }
    .callback__send-btn:hover {
      transform: scale(0.95);
      transition: transform 0.2s ease-in-out;
      opacity: 0.5; }
    .callback__send-btn-text {
      color: #ffffff;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: -0.15px;
      text-transform: uppercase; }
      .callback__send-btn-text::after {
        content: url(./static/dropdown.svg);
        height: 24px;
        margin-left: 8px; }

.callback[open] {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

@media (min-width: 320px) {
  .callback {
    min-width: 320px;
    max-width: 360px;
    box-sizing: border-box; } }

@media (min-width: 1120px) {
  .callback {
    overflow: visible;
    max-width: 440px;
    padding: 45px 32px; }
    .callback__close-btn {
      position: absolute;
      left: -65px;
      top: 40px; } }

.feedback {
  background-color: #ffffff;
  padding: 24px 16px;
  border: 1px solid #D9FFF5;
  border-radius: 1px;
  transition: transform 0.3s ease-in-out;
  transform: translate(100%);
  margin-left: auto;
  min-height: 100lvh; }
  .feedback__close-btn {
    margin-right: auto;
    padding-bottom: 40px; }
  .feedback__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #1B1C21;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    padding-bottom: 24px; }
    .feedback__title::before {
      content: '';
      background-color: #41f6d7;
      border-radius: 0 10px 10px 0;
      width: 4px;
      height: 40px;
      position: absolute;
      left: 0;
      display: inline-block; }
  .feedback__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px; }
    .feedback__form-name, .feedback__form-phone, .feedback__form-email, .feedback__form-text {
      color: #b5b6bc;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      border-radius: 8px;
      border: 1px solid #EAEAEA;
      padding: 12px 16px; }
      .feedback__form-name:focus, .feedback__form-phone:focus, .feedback__form-email:focus, .feedback__form-text:focus {
        border: 2px solid #FF3E79; }
    .feedback__form-text {
      height: 118px; }
  .feedback__agreement {
    color: #7e7e82;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 19px; }
    .feedback__agreement a {
      color: #FF3E79; }
  .feedback__send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 32px;
    background: #FF3E79;
    border-radius: 16px;
    margin-left: auto; }
    .feedback__send-btn:hover {
      transform: scale(0.95);
      transition: transform 0.2s ease-in-out;
      opacity: 0.5; }
    .feedback__send-btn-text {
      font-weight: bold;
      color: #ffffff;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: -0.15px;
      text-transform: uppercase; }
      .feedback__send-btn-text::after {
        content: url(./static/dropdown.svg);
        height: 24px;
        margin-left: 8px; }

.feedback[open] {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

@media (min-width: 320px) {
  .feedback {
    min-width: 320px;
    max-width: 360px;
    box-sizing: border-box; } }

@media (min-width: 1120px) {
  .feedback {
    max-width: 440px;
    padding: 45px 32px;
    overflow: visible; }
    .feedback__close-btn {
      position: absolute;
      left: -65px;
      top: 40px;
      z-index: 8; } }

.header {
  height: 88px;
  min-width: 320px;
  display: flex;
  background-color: #ffffff;
  box-shadow: inset 0 -3px 0 -1px #D9FFF5; }
  .header__left-menu {
    width: 55%;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 16px; }
  .header__right-menu {
    width: 45%;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px; }

.repair {
  display: flex;
  align-items: center;
  gap: 20px; }
  .repair:before {
    content: url(./static/divider.svg); }

.right-menu--tablet,
.page-descr--tablet {
  display: none; }

@media (min-width: 768px) {
  .right-menu--tablet {
    display: initial; }
  .header__left-menu {
    padding: 24px 24px;
    gap: 20px;
    width: 50%;
    justify-content: flex-start; }
  .header__right-menu {
    padding: 24px 24px;
    width: 50%;
    justify-content: flex-end;
    gap: 20px; }
  .logo {
    display: flex;
    gap: 20px;
    align-items: center; }
    .logo:before {
      content: url(./static/divider.svg);
      height: 32px;
      box-sizing: border-box; }
  .page-header__title {
    padding: 24px 0 32px 24px; } }

@media (min-width: 1120px) {
  .header {
    display: none; }
  .logo::before {
    content: none; } }

.page__title {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px; }
  .page__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.page__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0; }

.page__text {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px; }

.page__img {
  width: 100%;
  height: 50%;
  text-align: center; }

.page__descr--more {
  display: none; }

.visible {
  display: initial !important; }

.slide-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: auto;
  padding-left: 16px; }
  .slide-menu__button {
    white-space: nowrap;
    font-size: 16px;
    min-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    align-content: center;
    color: #7e7e82;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left; }
    .slide-menu__button:first-child {
      border: #b8ffec 2px solid;
      border-radius: 6px;
      background-color: #ffffff; }
    .slide-menu__button:hover {
      opacity: 50%; }

.btn-read-more {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 10%;
  padding: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  vertical-align: middle; }
  .btn-read-more:before {
    content: url(./static/expand.svg);
    box-sizing: border-box;
    height: 24px; }

.btn-read-more--rotate::before {
  transform: rotate(180deg); }

.page-btn--desktop,
.slide-menu__button--desktop,
.page__descr--tablet,
.page__descr--desktop {
  display: none; }

@media (min-width: 768px) {
  .page__descr--tablet {
    display: initial; }
  .page__content {
    padding-top: 32px;
    flex-direction: row; }
  .page__img {
    min-height: 208px;
    order: 0;
    overflow: hidden;
    width: 50%;
    height: 100%; }
    .page__img img {
      border-radius: 9px; }
  .page__descr {
    margin-bottom: 15px;
    letter-spacing: 0.20000000298023224px;
    text-align: left; }
  .page__text {
    padding: 0 24px; }
  .slide-menu {
    padding-left: 24px; }
  .btn-read-more {
    order: 1; }
  .wrapper {
    width: 50%; } }

@media (min-width: 1120px) {
  .desktop,
  .page-btn--desktop,
  .slide-menu__button--desktop,
  .page__descr--desktop {
    display: initial; }
  .page__header {
    padding-top: 42px;
    padding-bottom: 8px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between; }
  .page__title {
    display: flex;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 32px; }
    .page__title:before {
      top: 0; }
  .page__content {
    padding-top: 7px; }
  .page__text {
    padding: 9px 36px 13px 34px; }
  .slide-menu {
    padding-left: 32px;
    flex-wrap: wrap; }
  .page-wrapper {
    display: flex;
    align-items: flex-start;
    -moz-column-gap: 32px;
         column-gap: 32px; }
  .page-btn--desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: 500; }
  .btn-read-more {
    padding: 0 32px; } }

.brands__title {
  box-sizing: border-box;
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
  min-height: 56px;
  max-height: 80px;
  padding: 16px 16px;
  overflow-y: hidden;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  border-top: 1px solid #D9FFF5; }

.brands-list {
  padding-left: 16px;
  padding-top: 16px; }
  .brands-list__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease; }
    .brands-list__item:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); }
  .brands-list__go {
    background-image: url(./static/go.svg);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    transform: translateX(0); }
  .brands-list__btn {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px; }

.brands-list__btn:hover .brands-list__go {
  transform: translateX(5px); }

.swiper-pagination {
  position: relative;
  padding-top: 24px; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: #dddddd; }

.swiper-pagination-bullet-active {
  --swiper-theme-color: #b5b6bc; }

@media (min-width: 768px) {
  .brands__title {
    padding-left: 24px; }
  .brands-list {
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 24px !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
    grid-auto-flow: dense; }
    .brands-list__item {
      max-width: 224px; }
  .brands-list.open {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    overflow: visible; }
  .brands-button {
    padding-bottom: 24px; } }

@media (min-width: 1400px) {
  .brands-list {
    padding: 24px 32px;
    grid-template-columns: repeat(4, 1fr); }
    .brands-list__item {
      max-width: 240px; }
  .brands__title {
    padding: 16px 32px; }
  .brands-button {
    padding-bottom: 16px 32px; }
  .desktop {
    display: flex !important; } }

.services__title {
  padding: 16px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
  color: #7e7e82;
  border-top: #D9FFF5 solid 1px;
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
  max-height: 80px; }

.services__items {
  padding: 16px; }

.services__item {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 240px;
  height: 160px;
  padding: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  transition: box-shadow 0.3s ease; }
  .services__item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); }

.services-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease; }
  .services-button:hover .services-button__go {
    transform: translateX(5px); }
  .services-button__go {
    background-image: url(./static/go.svg);
    width: 40px;
    height: 40px;
    margin-left: auto;
    transition: all 0.3s ease;
    transform: translateX(0); }
  .services-button__descr {
    font-weight: 500; }

@media (min-width: 768px) {
  .services__title {
    box-sizing: border-box;
    height: 56px;
    padding: 24px; }
  .services__items {
    padding: 24px;
    height: 150px;
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
    grid-auto-flow: dense; }
    .services__items .open {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
  .services__item {
    width: 224px; }
  .services__button {
    display: inherit; }
  .services-btn {
    padding: 0 24px 24px; } }

@media (min-width: 1400px) {
  .services__title {
    padding: 16px 32px; }
  .services__items {
    grid-template-columns: repeat(4, 1fr);
    padding: 24px  32px; }
  .services-btn {
    padding: 16px 32px; } }

.price__title {
  min-height: 56px;
  max-height: 80px;
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
  box-sizing: border-box;
  padding: 16px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  border-top: 1px solid #D9FFF5; }

.price__captions {
  display: none; }

.price__button {
  height: 32px;
  width: 119px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.15px;
  color: #ffffff;
  background-color: #FF3E79;
  border-radius: 30px;
  transition: transform 0.3s ease; }
  .price__button:hover {
    transform: scale(1.1); }
  .price__button:after {
    content: url(./static/dropdown.svg);
    padding-left: 8px; }

.price__description {
  font-size: 14px; }

.price__button-offer {
  padding-bottom: 40px;
  transition: transform 0.3s ease; }
  .price__button-offer:hover {
    transform: scale(1.1); }
  .price__button-offer span {
    display: flex;
    text-align: start;
    align-items: center;
    font-weight: 500; }
    .price__button-offer span:after {
      content: url(./static/more.svg);
      height: 24px; }

.price-wrapper {
  padding: 0 16px; }

@media (max-width: 767px) {
  .price__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 200px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #ffffff;
    padding: 16px;
    box-sizing: border-box; }
  .price____button {
    position: absolute;
    right: 16px;
    bottom: 16px; }
  .price__button-offer {
    padding-top: 16px; } }

@media (min-width: 768px) {
  .price__title {
    height: 56px;
    box-sizing: border-box;
    padding: 24px; }
  .price__captions {
    padding: 16px;
    padding-left: 24px;
    display: grid;
    grid-template-columns: 50% 15% 15%;
    color: #7e7e82; }
  .price__items {
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    display: inherit; }
  .price__item {
    display: grid !important;
    grid-template-columns: 50% 15% 15% 20%;
    padding: 24px;
    align-items: center;
    box-shadow: 0 17px 0 -16px #EAEAEA;
    box-sizing: border-box; }
    .price__item:last-child {
      box-shadow: none; }
  .price__description {
    max-width: 65%;
    padding-top: 24px;
    padding-bottom: 16px; }
  .price-wrapper {
    padding: 0 24px; } }

@media (min-width: 1120px) {
  .price-wrapper {
    padding: 0 32px; }
  .price__title {
    padding: 16px 32px; } }

.footer {
  font-size: 14px;
  padding: 16px;
  text-align: center;
  color: #7e7e82;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-top: #D9FFF5 solid 1px; }

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 21px; }
    .footer div {
      flex: 33.3%; } }

@media (min-width: 1120px) {
  .footer {
    padding-left: 32px; } }


/*# sourceMappingURL=style.css.map*/