.brands {
  &__title {
    box-sizing: border-box;
    background: $gradient;
    min-height: 56px;
    max-height: 80px;
    padding: 16px 16px;
    overflow-y: hidden;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: $text-light;
    border-top: 1px solid $border;
  }
}

.brands-list {
  padding-left: 16px;
  padding-top: 16px;
  &__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    padding: 16px;
    border: 1px solid $btn-border;
    border-radius: 5px;
    background-color: $white;
  }
  &__go {
    background-image: url(../img/go.svg);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    transform: translateX(0);
  }

  &__btn {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
  }
}

.brands-list__btn:hover .brands-list__go {
  transform: translateX(5px);
}


.swiper-pagination {
  position: relative;
  padding-top: 24px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: #dddddd;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #b5b6bc;
}

@media (min-width: 768px) {
  .brands {
    &__title {
      padding-left: 24px;
    }
  }
  .brands-list {
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 24px !important;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
    grid-auto-flow: dense;

    &__item {
      max-width: 224px;
    }
    }

    .brands-list.open{
      max-height: fit-content;
      overflow: visible;
  }
  
  
}

@media (min-width: 1400px) {
  .brands-list {
    grid-template-columns: repeat(4, 1fr);
    &__item {
      max-width: 240px;
    }
  }

  .desktop {
    display: flex !important;
  }
}
